.mbti-page {

    color: #d4af37;
    width: 100%;
    height: 100vh;
    background: #1a0f29;
    background-size: cover;
  }
   
  .mbti-content {
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  
  
